Repository microsoft/HydraLab, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydraxman, @zhou9584, @dexterdreeeam, @lifesaver0129, @olivershen-wow, @dinghong2233, @TedaLIEz, @taoran6, @AC-Phoenix

.github/CODEOWNERS:

# Back-end architectFront-end architect
**/doc/UML @hydraxman @zhou9584
*.puml  @hydraxman @zhou9584

# Front-end architect
/react/ @dexterdreeeam @lifesaver0129

# Encache
ehcache.xml @zhou9584 @olivershen-wow

# Onboarding
*.md @zhou9584 @hydraxman @dexterdreeeam @dinghong2233

# Hydra Lab Android client
/android_client/ @lifesaver0129 @TedaLIEz

# TestTaskSpec
TestTaskSpec.java @olivershen-wow @zhou9584

# Gradle Plugin
/gradle_plugin/ @olivershen-wow @taoran6

# ADO extension
/vsts_extension/ @olivershen-wow @dexterdreeeam

# Grafana/Prometheus
/center/deploy_startup/ @olivershen-wow @zhou9584
/center/* @olivershen-wow @zhou9584

# File Storage
/common/src/main/java/com/microsoft/hydralab/common/file/ @olivershen-wow @AC-Phoenix

# AgentManager,DeviceDriver,TestRunner,TestDevice
/common/src/main/java/com/microsoft/hydralab/common/management/ @zhou9584 @TedaLIEz @AC-Phoenix
**/runner/ @zhou9584 @TedaLIEz @AC-Phoenix

# Smart Test

# Espresso
**/runner/espresso/ @zhou9584 @hydraxman

# Appium
**/runner/appium/ @dinghong2233 @taoran6

# Taps to cases
**/runner/t2c/  @dinghong2233 @taoran6
/taps_to_cases/ @dinghong2233 @taoran6

# XCTest(iOS)
**/runner/xctest/ @lifesaver0129 @zhou9584 @TedaLIEz

# Performance testing
**/hydralab/performance/ @taoran6 @AC-Phoenix

Update notify service
  agent/doc/UML/performance_test_design.puml
  docs/images/UML/performance_test_notify_component.png
Owners: @hydraxman, @zhou9584

Export pef data to csv
  react/src/component/PerfTestDashboard.jsx
Owners: @dexterdreeeam, @lifesaver0129

Export pef data to csv (#510)
  react/src/component/PerfTestDashboard.jsx
Owners: @dexterdreeeam, @lifesaver0129

Resolve comments
  agent/doc/UML/performance_test_design.puml
  common/src/main/java/com/microsoft/hydralab/common/entity/common/TestTask.java
  common/src/main/java/com/microsoft/hydralab/performance/PerformanceTestManagementService.java
  common/src/main/java/com/microsoft/hydralab/performance/PerformanceTestNotifier.java
  common/src/main/java/com/microsoft/hydralab/performance/TestNotifier.java
Owners: @hydraxman, @zhou9584, @taoran6, @AC-Phoenix

Update UML
  agent/doc/UML/performance_test_design.puml
  docs/images/UML/performance_test_notify_component.png
  docs/images/UML/performance_test_notify_uml.png
  docs/images/UML/test_notify_component.png
  docs/images/UML/test_notify_uml.png
Owners: @hydraxman, @zhou9584

Update TestNotification
  agent/doc/UML/performance_test_design.puml
  docs/images/UML/test_notify_uml.png
Owners: @hydraxman, @zhou9584

Update
  common/src/main/java/com/microsoft/hydralab/performance/TestNotifier.java
Owners: @taoran6, @AC-Phoenix

Bugfix: isDriverAlive method can't verify the staus of iosDriver
  common/src/main/java/com/microsoft/hydralab/common/management/AppiumServerManager.java
  common/src/main/java/com/microsoft/hydralab/common/screen/IOSAppiumScreenRecorderForMac.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix

Update TestRunDeviceOrchestrator.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/TestRunDeviceOrchestrator.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix

Bugfix: isDriverAlive method can't verify the staus of iosDriver (#511)
  agent/src/main/java/com/microsoft/hydralab/agent/runner/TestRunDeviceOrchestrator.java
  common/src/main/java/com/microsoft/hydralab/common/management/AppiumServerManager.java
  common/src/main/java/com/microsoft/hydralab/common/screen/IOSAppiumScreenRecorderForMac.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix

Update gradle-wrapper.properties (#507)
  gradle/wrapper/gradle-wrapper.properties
Owners: none

Bugfix: add SupportedMediaTypes to fastJsonHttpMessageConverter
  center/src/main/java/com/microsoft/hydralab/center/config/WebMvcConfiguration.java
Owners: none

move to the init method of bean
  center/src/main/java/com/microsoft/hydralab/center/config/AppConfig.java
  center/src/main/java/com/microsoft/hydralab/center/config/WebMvcConfiguration.java
Owners: none

Bugfix: add SupportedMediaTypes to fastJsonHttpMessageConverter (#512)
  center/src/main/java/com/microsoft/hydralab/center/config/AppConfig.java
Owners: none

Bugfix: use iterator to avoid ConcurrentModificationException
  center/src/main/java/com/microsoft/hydralab/center/service/TestTaskService.java
Owners: none

Update TestTaskService.java
  center/src/main/java/com/microsoft/hydralab/center/service/TestTaskService.java
Owners: none

Bugfix: use iterator to avoid ConcurrentModificationException (#513)
  center/src/main/java/com/microsoft/hydralab/center/service/TestTaskService.java
Owners: none

Provide a client for chatGPT in Azure OpenAI service
  center/src/main/java/com/microsoft/hydralab/center/openai/AzureOpenAIServiceClient.java
  center/src/main/java/com/microsoft/hydralab/center/openai/ChatMessage.java
  center/src/main/java/com/microsoft/hydralab/center/openai/ChatRequest.java
  center/src/test/java/com/microsoft/hydralab/center/openai/AzureOpenAIServiceClientTest.java
Owners: none

Update param sequence
  center/src/main/java/com/microsoft/hydralab/center/openai/AzureOpenAIServiceClient.java
  center/src/test/java/com/microsoft/hydralab/center/openai/AzureOpenAIServiceClientTest.java
Owners: none

Update center/src/main/java/com/microsoft/hydralab/center/openai/ChatRequest.java
  center/src/main/java/com/microsoft/hydralab/center/openai/ChatRequest.java
Owners: none

Use empty default value
  center/src/test/java/com/microsoft/hydralab/center/openai/AzureOpenAIServiceClientTest.java
Owners: none

Update center/src/main/java/com/microsoft/hydralab/center/openai/ChatMessage.java
  center/src/main/java/com/microsoft/hydralab/center/openai/ChatMessage.java
Owners: none

Update center/src/main/java/com/microsoft/hydralab/center/openai/AzureOpenAIServiceClient.java
  center/src/main/java/com/microsoft/hydralab/center/openai/AzureOpenAIServiceClient.java
Owners: none

Update center/src/test/java/com/microsoft/hydralab/center/openai/AzureOpenAIServiceClientTest.java
  center/src/test/java/com/microsoft/hydralab/center/openai/AzureOpenAIServiceClientTest.java
Owners: none

Update center/src/main/java/com/microsoft/hydralab/center/openai/ChatRequest.java
  center/src/main/java/com/microsoft/hydralab/center/openai/ChatRequest.java
Owners: none

Update test case to pass UT
  center/src/test/java/com/microsoft/hydralab/center/openai/AzureOpenAIServiceClientTest.java
Owners: none

Add local profile in the base test
  center/src/test/java/com/microsoft/hydralab/center/test/BaseTest.java
Owners: none

Fix executor
  agent/src/main/java/com/microsoft/hydralab/agent/runner/ActionExecutor.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix

Update
  agent/src/main/java/com/microsoft/hydralab/agent/runner/ActionExecutor.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix

Fix action executor (#514)
  agent/src/main/java/com/microsoft/hydralab/agent/runner/ActionExecutor.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix

Update
  agent/src/main/java/com/microsoft/hydralab/agent/runner/ActionExecutor.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix

Fix action executer: remove null filter for device actions (#515)
  agent/src/main/java/com/microsoft/hydralab/agent/runner/ActionExecutor.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix

Add model and build number for PerformanceTestResultEntity
  common/src/main/java/com/microsoft/hydralab/common/entity/agent/MobileDevice.java
  common/src/main/java/com/microsoft/hydralab/common/entity/common/PerformanceTestResultEntity.java
  common/src/main/java/com/microsoft/hydralab/common/entity/common/TestRunDeviceCombo.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/AndroidDeviceDriver.java
  common/src/main/java/com/microsoft/hydralab/performance/PerformanceTestManagementService.java
  common/src/test/java/com/microsoft/hydralab/common/performance/PerformanceTestResultEntityTest.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix, @taoran6

fix: fix hprof mapping
  common/src/main/java/com/microsoft/hydralab/performance/PerformanceTestManagementService.java
Owners: @taoran6, @AC-Phoenix

fix: fix hprof mapping (#517)
  common/src/main/java/com/microsoft/hydralab/performance/PerformanceTestManagementService.java
Owners: @taoran6, @AC-Phoenix

Bugfix: unlockDevice method would make the phone back to desktop when testing
  common/src/main/java/com/microsoft/hydralab/common/management/AppiumServerManager.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/IOSDeviceDriver.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix

Update center/src/main/java/com/microsoft/hydralab/center/openai/AzureOpenAIServiceClient.java
  center/src/main/java/com/microsoft/hydralab/center/openai/AzureOpenAIServiceClient.java
Owners: none

fix: CP fix for PR #517
  common/src/main/java/com/microsoft/hydralab/performance/PerformanceTestManagementService.java
Owners: @taoran6, @AC-Phoenix

add some comments
  common/src/main/java/com/microsoft/hydralab/common/management/AppiumServerManager.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/IOSDeviceDriver.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix

Update IOSDeviceDriver.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/IOSDeviceDriver.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix
