Repository microsoft/HydraLab, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydraxman, @zhou9584, @dexterdreeeam, @lifesaver0129, @olivershen-wow, @dinghong2233, @TedaLIEz, @taoran6, @AC-Phoenix

Update azure-pipelines-ci.yml for Azure Pipelines
  azure-pipelines-ci.yml
Owners: none

Update azure-pipelines-ci.yml for Azure Pipelines
  azure-pipelines-ci.yml
Owners: none

Update azure-pipelines-ci.yml for Azure Pipelines
  azure-pipelines-ci.yml
Owners: none

Update azure-pipelines-ci.yml for Azure Pipelines
  azure-pipelines-ci.yml
Owners: none

Update azure-pipelines-ci.yml for Azure Pipelines
  azure-pipelines-ci.yml
Owners: none

Update azure-pipelines-ci.yml for Azure Pipelines
  azure-pipelines-ci.yml
Owners: none

feat: only dump hprof with debugable build
  common/src/main/java/com/microsoft/hydralab/performance/inspectors/AndroidMemoryHprofInspector.java
Owners: @taoran6, @AC-Phoenix

feat: print page source in good format
  taps_to_cases/runner/src/main/java/com/microsoft/hydralab/t2c/runner/T2CAppiumUtils.java
Owners: @dinghong2233, @taoran6

fix: fix UT
  taps_to_cases/runner/src/test/java/com/microsoft/hydralab/t2c/runner/MockDriverT2CTest.java
Owners: @dinghong2233, @taoran6

feat: return original string if format fails
  taps_to_cases/runner/src/main/java/com/microsoft/hydralab/t2c/runner/T2CAppiumUtils.java
Owners: @dinghong2233, @taoran6

feat: print page source in good format (#484)
  taps_to_cases/runner/src/main/java/com/microsoft/hydralab/t2c/runner/T2CAppiumUtils.java
  taps_to_cases/runner/src/test/java/com/microsoft/hydralab/t2c/runner/MockDriverT2CTest.java
Owners: @dinghong2233, @taoran6

Fix file path exceeds MAX_PATH bug & Add more logs for perf test
  agent/src/main/java/com/microsoft/hydralab/agent/runner/TestRunner.java
  common/src/main/java/com/microsoft/hydralab/performance/PerformanceTestManagementService.java
  common/src/main/java/com/microsoft/hydralab/performance/inspectors/AndroidBatteryInfoInspector.java
  common/src/main/java/com/microsoft/hydralab/performance/inspectors/AndroidMemoryInfoInspector.java
  common/src/main/java/com/microsoft/hydralab/performance/inspectors/EventTimeInspector.java
  common/src/main/java/com/microsoft/hydralab/performance/inspectors/IOSEnergyGaugeInspector.java
  common/src/main/java/com/microsoft/hydralab/performance/inspectors/IOSMemoryPerfInspector.java
  common/src/main/java/com/microsoft/hydralab/performance/inspectors/WindowsBatteryInspector.java
  common/src/main/java/com/microsoft/hydralab/performance/inspectors/WindowsMemoryInspector.java
  common/src/main/java/com/microsoft/hydralab/performance/parsers/AndroidBatteryInfoResultParser.java
  common/src/main/java/com/microsoft/hydralab/performance/parsers/AndroidMemoryInfoResultParser.java
  common/src/main/java/com/microsoft/hydralab/performance/parsers/EventTimeResultParser.java
  common/src/main/java/com/microsoft/hydralab/performance/parsers/IOSEnergyGaugeResultParser.java
  common/src/main/java/com/microsoft/hydralab/performance/parsers/IOSMemoryPerfResultParser.java
  common/src/main/java/com/microsoft/hydralab/performance/parsers/WindowsBatteryResultParser.java
  common/src/main/java/com/microsoft/hydralab/performance/parsers/WindowsMemoryResultParser.java
  sdk/src/main/java/com/microsoft/hydralab/agent/runner/ITestRun.java
  sdk/src/main/java/com/microsoft/hydralab/performance/PerformanceInspector.java
  sdk/src/main/java/com/microsoft/hydralab/performance/PerformanceResultParser.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix, @taoran6

Rollback
  common/src/main/java/com/microsoft/hydralab/performance/inspectors/WindowsBatteryInspector.java
  common/src/main/java/com/microsoft/hydralab/performance/inspectors/WindowsMemoryInspector.java
Owners: @taoran6, @AC-Phoenix

Update azure-pipelines-ci.yml for Azure Pipelines
  azure-pipelines-ci.yml
Owners: none

Update azure-pipelines-ci.yml for Azure Pipelines
  azure-pipelines-ci.yml
Owners: none

Fix UT
  common/src/test/java/com/microsoft/hydralab/common/performance/AndroidBatteryInfoResultParserTest.java
Owners: none

User/lsh/security review (#486)
  azure-pipelines-ci.yml
Owners: none

Make sure testRunner.getLogger() is non-null
  common/src/main/java/com/microsoft/hydralab/performance/PerformanceTestManagementService.java
  common/src/test/java/com/microsoft/hydralab/common/performance/AndroidBatteryInfoResultParserTest.java
Owners: @taoran6, @AC-Phoenix

[Perf] Fix file path exceeds MAX_PATH bug & add more logs for perf test (#485)
  agent/src/main/java/com/microsoft/hydralab/agent/runner/TestRunner.java
  common/src/main/java/com/microsoft/hydralab/performance/PerformanceTestManagementService.java
  common/src/main/java/com/microsoft/hydralab/performance/inspectors/AndroidBatteryInfoInspector.java
  common/src/main/java/com/microsoft/hydralab/performance/inspectors/AndroidMemoryInfoInspector.java
  common/src/main/java/com/microsoft/hydralab/performance/inspectors/EventTimeInspector.java
  common/src/main/java/com/microsoft/hydralab/performance/inspectors/IOSEnergyGaugeInspector.java
  common/src/main/java/com/microsoft/hydralab/performance/inspectors/IOSMemoryPerfInspector.java
  common/src/main/java/com/microsoft/hydralab/performance/inspectors/WindowsBatteryInspector.java
  common/src/main/java/com/microsoft/hydralab/performance/inspectors/WindowsMemoryInspector.java
  common/src/main/java/com/microsoft/hydralab/performance/parsers/AndroidBatteryInfoResultParser.java
  common/src/main/java/com/microsoft/hydralab/performance/parsers/AndroidMemoryInfoResultParser.java
  common/src/main/java/com/microsoft/hydralab/performance/parsers/EventTimeResultParser.java
  common/src/main/java/com/microsoft/hydralab/performance/parsers/IOSEnergyGaugeResultParser.java
  common/src/main/java/com/microsoft/hydralab/performance/parsers/IOSMemoryPerfResultParser.java
  common/src/main/java/com/microsoft/hydralab/performance/parsers/WindowsBatteryResultParser.java
  common/src/main/java/com/microsoft/hydralab/performance/parsers/WindowsMemoryResultParser.java
  common/src/test/java/com/microsoft/hydralab/common/performance/AndroidBatteryInfoResultParserTest.java
  sdk/src/main/java/com/microsoft/hydralab/agent/runner/ITestRun.java
  sdk/src/main/java/com/microsoft/hydralab/performance/PerformanceInspector.java
  sdk/src/main/java/com/microsoft/hydralab/performance/PerformanceResultParser.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix, @taoran6

update task dequeuing logic; add some log;
  center/src/main/java/com/microsoft/hydralab/center/controller/TestTaskController.java
  center/src/main/java/com/microsoft/hydralab/center/service/DeviceAgentManagementService.java
  center/src/main/java/com/microsoft/hydralab/center/service/TestTaskService.java
Owners: none

Fix cancel not working for agent status updating.
  center/src/main/java/com/microsoft/hydralab/center/service/DeviceAgentManagementService.java
  common/src/main/java/com/microsoft/hydralab/common/management/AgentManagementService.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix

Bugfix: Fix the bug of screen recorder not stopped when task is canceled
  agent/src/main/java/com/microsoft/hydralab/agent/runner/TestRunner.java
  common/src/main/java/com/microsoft/hydralab/common/screen/WindowsScreenRecorder.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix

Rename confusing variable names; Add forced update for testing status from agent when no-syncing happens just after canceling tasks;
  center/src/main/java/com/microsoft/hydralab/center/service/DeviceAgentManagementService.java
  gradle.properties
  settings.gradle
Owners: none

update
  center/src/main/java/com/microsoft/hydralab/center/service/TestTaskService.java
Owners: none

revert
  gradle.properties
  settings.gradle
Owners: none

Fix null pointer exception
  agent/src/main/java/com/microsoft/hydralab/agent/runner/TestRunDeviceOrchestrator.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/TestRunner.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix

Bugfix: Fix the bug of screen recorder not stopped when task is canceled (#489)
  agent/src/main/java/com/microsoft/hydralab/agent/runner/TestRunDeviceOrchestrator.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/TestRunner.java
  common/src/main/java/com/microsoft/hydralab/common/screen/WindowsScreenRecorder.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix

Fix: task dequeuing logic will always suspend subsequent tasks from being run, canceling task will make device status wrong (#488)
  center/src/main/java/com/microsoft/hydralab/center/controller/TestTaskController.java
  center/src/main/java/com/microsoft/hydralab/center/service/DeviceAgentManagementService.java
  center/src/main/java/com/microsoft/hydralab/center/service/TestTaskService.java
  common/src/main/java/com/microsoft/hydralab/common/management/AgentManagementService.java
  settings.gradle
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix

fix: fix build
  common/src/main/java/com/microsoft/hydralab/performance/inspectors/AndroidMemoryHprofInspector.java
  common/src/main/java/com/microsoft/hydralab/performance/parsers/AndroidMemoryHprofResultParser.java
Owners: @taoran6, @AC-Phoenix

feat: shorten hprof file name
  common/src/main/java/com/microsoft/hydralab/performance/inspectors/AndroidMemoryHprofInspector.java
Owners: @taoran6, @AC-Phoenix

feat: remove appid in file name
  common/src/main/java/com/microsoft/hydralab/performance/inspectors/AndroidMemoryHprofInspector.java
Owners: @taoran6, @AC-Phoenix

fix
  center/src/main/java/com/microsoft/hydralab/center/controller/DeviceGroupController.java
Owners: none

u
  agent/one-line-installer-windows.ps1
Owners: none

u
  agent/one-line-installer-windows.ps1
Owners: none

u
  agent/one-line-installer-windows.ps1
Owners: none

u
  agent/one-line-installer-windows.ps1
Owners: none

u
  agent/one-line-installer-windows.ps1
Owners: none

feat: add final
  common/src/main/java/com/microsoft/hydralab/performance/hprof/TopObjectInfoExtractor.java
Owners: @taoran6, @AC-Phoenix

fix one liner installer issue because of online change (#492)
  agent/one-line-installer-windows.ps1
Owners: none

Upgrade swagger version
  center/src/main/java/com/microsoft/hydralab/center/config/SwaggerConfig.java
Owners: none

.github/CODEOWNERS:

# Back-end architectFront-end architect
**/doc/UML @hydraxman @zhou9584
*.puml  @hydraxman @zhou9584

# Front-end architect
/react/ @dexterdreeeam @lifesaver0129

# Encache
ehcache.xml @zhou9584 @olivershen-wow

# Onboarding
*.md @zhou9584 @hydraxman @dexterdreeeam @dinghong2233

# Hydra Lab Android client
/android_client/ @lifesaver0129 @TedaLIEz

# TestTaskSpec
TestTaskSpec.java @olivershen-wow @zhou9584

# Gradle Plugin
/gradle_plugin/ @olivershen-wow @taoran6

# ADO extension
/vsts_extension/ @olivershen-wow @dexterdreeeam

# Grafana/Prometheus
/center/deploy_startup/ @olivershen-wow @zhou9584
/center/* @olivershen-wow @zhou9584

# File Storage
/common/src/main/java/com/microsoft/hydralab/common/file/ @olivershen-wow @AC-Phoenix

# AgentManager,DeviceDriver,TestRunner,TestDevice
/common/src/main/java/com/microsoft/hydralab/common/management/ @zhou9584 @TedaLIEz @AC-Phoenix
**/runner/ @zhou9584 @TedaLIEz @AC-Phoenix

# Smart Test

# Espresso
**/runner/espresso/ @zhou9584 @hydraxman

# Appium
**/runner/appium/ @dinghong2233 @taoran6

# Taps to cases
**/runner/t2c/  @dinghong2233 @taoran6
/taps_to_cases/ @dinghong2233 @taoran6

# XCTest(iOS)
**/runner/xctest/ @lifesaver0129 @zhou9584 @TedaLIEz

# Performance testing
**/hydralab/performance/ @taoran6 @AC-Phoenix
