Repository microsoft/HydraLab, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydraxman, @zhou9584, @dexterdreeeam, @lifesaver0129, @olivershen-wow, @dinghong2233, @TedaLIEz, @taoran6, @AC-Phoenix

.github/CODEOWNERS:

# Back-end architectFront-end architect
**/doc/UML @hydraxman @zhou9584
*.puml  @hydraxman @zhou9584

# Front-end architect
/react/ @dexterdreeeam @lifesaver0129

# Encache
ehcache.xml @zhou9584 @olivershen-wow

# Onboarding
*.md @zhou9584 @hydraxman @dexterdreeeam @dinghong2233

# Hydra Lab Android client
/android_client/ @lifesaver0129 @TedaLIEz

# TestTaskSpec
TestTaskSpec.java @olivershen-wow @zhou9584

# Gradle Plugin
/gradle_plugin/ @olivershen-wow @taoran6

# ADO extension
/vsts_extension/ @olivershen-wow @dexterdreeeam

# Grafana/Prometheus
/center/deploy_startup/ @olivershen-wow @zhou9584
/center/* @olivershen-wow @zhou9584

# File Storage
/common/src/main/java/com/microsoft/hydralab/common/file/ @olivershen-wow @AC-Phoenix

# AgentManager,DeviceDriver,TestRunner,TestDevice
/common/src/main/java/com/microsoft/hydralab/common/management/ @zhou9584 @TedaLIEz @AC-Phoenix
**/runner/ @zhou9584 @TedaLIEz @AC-Phoenix

# Smart Test

# Espresso
**/runner/espresso/ @zhou9584 @hydraxman

# Appium
**/runner/appium/ @dinghong2233 @taoran6

# Taps to cases
**/runner/t2c/  @dinghong2233 @taoran6
/taps_to_cases/ @dinghong2233 @taoran6

# XCTest(iOS)
**/runner/xctest/ @lifesaver0129 @zhou9584 @TedaLIEz

# Performance testing
**/hydralab/performance/ @taoran6 @AC-Phoenix

fix (#493)
  center/src/main/java/com/microsoft/hydralab/center/controller/DeviceGroupController.java
Owners: none

Upgrade swagger version (#494)
  center/src/main/java/com/microsoft/hydralab/center/config/SwaggerConfig.java
Owners: none

Fix error handling logic of changeADBSocketHostAddr
  common/src/main/java/com/microsoft/hydralab/common/util/ADBOperateUtil.java
Owners: none

Upgrade swagger from version 2 to 3; Alter related dependency libs and configurations; Disable default swagger page with sample data;
  center/build.gradle
  center/src/main/java/com/microsoft/hydralab/center/config/SwaggerConfig.java
  center/src/main/java/com/microsoft/hydralab/center/config/WebMvcConfiguration.java
  center/src/main/resources/application.yml
Owners: @olivershen-wow, @zhou9584

Fix disorder caused by reverted running task order in the task list
  react/src/component/TasksView.jsx
Owners: @dexterdreeeam, @lifesaver0129

update
  react/src/component/TasksView.jsx
Owners: @dexterdreeeam, @lifesaver0129

Bugfix: task list disorder caused by reversed running task order in the task list (#498)
  react/src/component/TasksView.jsx
Owners: @dexterdreeeam, @lifesaver0129

Temporarily disable checks on user's auth in corresponding teams
  center/src/main/java/com/microsoft/hydralab/center/service/TestDataService.java
Owners: none

Temporarily disable checks on user's auth in corresponding teams (#502)
  center/src/main/java/com/microsoft/hydralab/center/service/TestDataService.java
Owners: none

update: add todo
  center/src/main/java/com/microsoft/hydralab/center/service/TestDataService.java
Owners: none

Upgrade swagger from version 2 to 3; (#496)
  center/build.gradle
  center/src/main/java/com/microsoft/hydralab/center/config/SwaggerConfig.java
  center/src/main/java/com/microsoft/hydralab/center/config/WebMvcConfiguration.java
  center/src/main/resources/application.yml
Owners: @olivershen-wow, @zhou9584

u
  agent/src/main/java/com/microsoft/hydralab/agent/runner/espresso/EspressoRunner.java
  common/src/main/java/com/microsoft/hydralab/common/entity/common/TestTask.java
  common/src/main/java/com/microsoft/hydralab/common/entity/common/TestTaskSpec.java
  common/src/main/java/com/microsoft/hydralab/network/NetworkTestManagementService.java
Owners: @zhou9584, @hydraxman, @olivershen-wow

Bugfix: add another method to verify the status of windows driver
  agent/src/main/java/com/microsoft/hydralab/agent/runner/appium/AppiumRunner.java
  center/src/main/java/com/microsoft/hydralab/center/socket/CenterDeviceSocketEndpoint.java
  common/src/main/java/com/microsoft/hydralab/common/management/AppiumServerManager.java
Owners: @dinghong2233, @taoran6, @zhou9584, @TedaLIEz, @AC-Phoenix

Update TestTaskService.java
  center/src/main/java/com/microsoft/hydralab/center/service/TestTaskService.java
Owners: none

Update AppiumRunner.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/appium/AppiumRunner.java
Owners: @dinghong2233, @taoran6

Update TestTaskService.java
  center/src/main/java/com/microsoft/hydralab/center/service/TestTaskService.java
Owners: none

u
  agent/src/main/java/com/microsoft/hydralab/agent/config/TestRunnerConfig.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/TestRunDeviceOrchestrator.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/TestRunner.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/appium/AppiumCrossRunner.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/appium/AppiumRunner.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/espresso/EspressoRunner.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/espresso/EspressoTestInfoProcessorListener.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/monkey/AdbMonkeyRunner.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/monkey/AppiumMonkeyRunner.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/smart/SmartRunner.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/t2c/T2CRunner.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/xctest/XCTestRunner.java
  common/src/main/java/com/microsoft/hydralab/common/entity/common/TestTask.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/DeviceDriver.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/AbstractDeviceDriver.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/AndroidDeviceDriver.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/DeviceDriverManager.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/IOSDeviceDriver.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/WindowsDeviceDriver.java
  common/src/main/java/com/microsoft/hydralab/network/NetworkTestManagementService.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix, @dinghong2233, @taoran6, @hydraxman, @lifesaver0129

Bugfix: add another method to verify the status of windows driver (#505)
  agent/src/main/java/com/microsoft/hydralab/agent/runner/appium/AppiumRunner.java
  center/src/main/java/com/microsoft/hydralab/center/service/TestTaskService.java
  center/src/main/java/com/microsoft/hydralab/center/socket/CenterDeviceSocketEndpoint.java
  common/src/main/java/com/microsoft/hydralab/common/management/AppiumServerManager.java
Owners: @dinghong2233, @taoran6, @zhou9584, @TedaLIEz, @AC-Phoenix

Feat.: add AGENT type for a list of deviceActions to run on an agent separately, rather than being run together with commands for all or mobile devices (to ensure being run only once per test).
  agent/src/main/java/com/microsoft/hydralab/agent/command/DeviceScriptCommandLoader.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/ActionExecutor.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/TestRunDeviceOrchestrator.java
  agent/src/test/java/com/microsoft/hydralab/agent/runner/ActionExecutorTest.java
  common/src/main/java/com/microsoft/hydralab/common/util/Const.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix

Update
  agent/src/main/java/com/microsoft/hydralab/agent/command/DeviceScriptCommandLoader.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/TestRunDeviceOrchestrator.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix

fix UT
  agent/src/test/java/com/microsoft/hydralab/agent/runner/CommandActionLoaderTest.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix

Remove ambiguous ANY type
  agent/src/main/java/com/microsoft/hydralab/agent/command/DeviceScriptCommandLoader.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/ActionExecutor.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix

Fix UT
  agent/src/test/java/com/microsoft/hydralab/agent/runner/CommandActionLoaderTest.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix

Make doAction method private and fix related UT
  agent/src/main/java/com/microsoft/hydralab/agent/runner/ActionExecutor.java
  agent/src/test/java/com/microsoft/hydralab/agent/runner/ActionExecutorTest.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix

Feat.: support Linux command running during tests (#506)
  agent/src/main/java/com/microsoft/hydralab/agent/command/DeviceScriptCommandLoader.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/ActionExecutor.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/TestRunDeviceOrchestrator.java
  agent/src/test/java/com/microsoft/hydralab/agent/runner/ActionExecutorTest.java
  common/src/main/java/com/microsoft/hydralab/common/util/Const.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix

Update gradle-wrapper.properties
  gradle/wrapper/gradle-wrapper.properties
Owners: none

Update azure-pipelines-ci.yml to use Launcher-1ES-Pool
  azure-pipelines-ci.yml
Owners: none

Add compatibility in code for android client tests
  agent/src/main/java/com/microsoft/hydralab/agent/runner/ActionExecutor.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/TestRunner.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/AndroidDeviceDriver.java
  common/src/main/java/com/microsoft/hydralab/common/screen/ADBScreenRecorder.java
  common/src/main/java/com/microsoft/hydralab/common/screen/PhoneAppScreenRecorder.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix

feat: remove unused code
  common/src/main/java/com/microsoft/hydralab/performance/hprof/HeapProfProcessor.java
Owners: @taoran6, @AC-Phoenix

Update command for device action usage.
  agent/src/main/java/com/microsoft/hydralab/agent/command/DeviceScriptCommandLoader.java
Owners: none

hprof parser and inspector (#325)
  common/build.gradle
  common/src/main/java/com/microsoft/hydralab/performance/PerformanceTestManagementService.java
  common/src/main/java/com/microsoft/hydralab/performance/entity/AndroidHprofMemoryInfo.java
  common/src/main/java/com/microsoft/hydralab/performance/entity/AndroidMemoryInfo.java
  common/src/main/java/com/microsoft/hydralab/performance/hprof/BitmapInfo.java
  common/src/main/java/com/microsoft/hydralab/performance/hprof/BitmapInfoExtractor.java
  common/src/main/java/com/microsoft/hydralab/performance/hprof/Extractor.java
  common/src/main/java/com/microsoft/hydralab/performance/hprof/HeapProfProcessor.java
  common/src/main/java/com/microsoft/hydralab/performance/hprof/ObjectInfo.java
  common/src/main/java/com/microsoft/hydralab/performance/hprof/TopObjectInfoExtractor.java
  common/src/main/java/com/microsoft/hydralab/performance/inspectors/AndroidMemoryHprofInspector.java
  common/src/main/java/com/microsoft/hydralab/performance/inspectors/AndroidMemoryInfoInspector.java
  common/src/main/java/com/microsoft/hydralab/performance/parsers/AndroidMemoryHprofResultParser.java
  common/src/main/java/com/microsoft/hydralab/performance/parsers/AndroidMemoryInfoResultParser.java
  sdk/build.gradle
  sdk/src/main/java/com/microsoft/hydralab/performance/PerformanceInspectionResult.java
  sdk/src/main/java/com/microsoft/hydralab/performance/PerformanceResultParser.java
Owners: @taoran6, @AC-Phoenix

Abstract retry logic into ADBOperateUtil.pullFileToDir;
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/AndroidDeviceDriver.java
  common/src/main/java/com/microsoft/hydralab/common/screen/ADBScreenRecorder.java
  common/src/main/java/com/microsoft/hydralab/common/screen/PhoneAppScreenRecorder.java
  common/src/main/java/com/microsoft/hydralab/common/util/ADBOperateUtil.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix

Update var name with log
  common/src/main/java/com/microsoft/hydralab/common/util/ADBOperateUtil.java
Owners: none

Update flag
  common/src/main/java/com/microsoft/hydralab/common/screen/PhoneAppScreenRecorder.java
Owners: none

Update related gradle plugin config
  common/src/main/java/com/microsoft/hydralab/common/util/Const.java
  gradle_plugin/template/gradle.properties
  gradle_plugin/template/testSpec.yml
Owners: @olivershen-wow, @taoran6

Update
  common/src/main/java/com/microsoft/hydralab/common/util/Const.java
Owners: none

Update
  gradle_plugin/template/gradle.properties
  gradle_plugin/template/testSpec.yml
Owners: @olivershen-wow, @taoran6

Design for performance alert system
  agent/doc/UML/performance_test_design.puml
  common/src/main/java/com/microsoft/hydralab/common/entity/common/TestTask.java
  common/src/main/java/com/microsoft/hydralab/performance/PerformanceTestManagementService.java
  common/src/main/java/com/microsoft/hydralab/performance/PerformanceTestNotifier.java
  docs/images/UML/performance_test_notify_component.png
  docs/images/UML/performance_test_notify_uml.png
Owners: @hydraxman, @zhou9584, @taoran6, @AC-Phoenix

Update screen recorder for tests of android_client, to make sure the screen recording is performed correctly (#469)
  agent/src/main/java/com/microsoft/hydralab/agent/command/DeviceScriptCommandLoader.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/ActionExecutor.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/TestRunner.java
  common/src/main/java/com/microsoft/hydralab/common/entity/common/DeviceInfo.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/AndroidDeviceDriver.java
  common/src/main/java/com/microsoft/hydralab/common/screen/ADBScreenRecorder.java
  common/src/main/java/com/microsoft/hydralab/common/screen/PhoneAppScreenRecorder.java
  common/src/main/java/com/microsoft/hydralab/common/util/ADBOperateUtil.java
  common/src/main/java/com/microsoft/hydralab/common/util/Const.java
  gradle_plugin/template/gradle.properties
  gradle_plugin/template/testSpec.yml
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix, @olivershen-wow, @taoran6

Update uml
  agent/doc/UML/performance_test_design.puml
  docs/images/UML/performance_test_notify_uml.png
Owners: @hydraxman, @zhou9584
