Repository microsoft/HydraLab, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydraxman, @zhou9584, @dexterdreeeam, @lifesaver0129, @olivershen-wow, @dinghong2233, @TedaLIEz, @taoran6, @AC-Phoenix

fix: fix merge issues
  common/src/main/java/com/microsoft/hydralab/performance/entity/AndroidHprofMemoryInfo.java
  common/src/main/java/com/microsoft/hydralab/performance/parsers/AndroidMemoryHprofResultParser.java
Owners: @taoran6, @AC-Phoenix

update front end
  react/package-lock.json
  react/package.json
  react/src/component/TestReportView.jsx
Owners: @dexterdreeeam, @lifesaver0129

Add generateT2CJsonFromSmartTest
  center/src/main/java/com/microsoft/hydralab/center/controller/TestDetailController.java
  taps_to_cases/runner/src/main/java/com/microsoft/hydralab/t2c/runner/T2CJsonGenerator.java
Owners: @dinghong2233, @taoran6

Add UT
  taps_to_cases/runner/src/test/java/com/microsoft/hydralab/t2c/runner/T2CJsonGeneratorTest.java
  taps_to_cases/runner/src/test/resources/directed_acyclic_graph.gexf
Owners: @dinghong2233, @taoran6

display the error and success message
  react/src/component/TestReportView.jsx
Owners: @dexterdreeeam, @lifesaver0129

Display the suggestion from GPT
  react/src/component/TestReportView.jsx
Owners: @dexterdreeeam, @lifesaver0129

Update TestReportView.jsx
  react/src/component/TestReportView.jsx
Owners: @dexterdreeeam, @lifesaver0129

Collect the exploration result of Smart Test and display it in front-end (#470)
  agent/src/main/java/com/microsoft/hydralab/agent/runner/smart/SmartRunner.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/smart/SmartTestUtil.java
  center/src/main/java/com/microsoft/hydralab/center/controller/TestDetailController.java
  center/src/main/java/com/microsoft/hydralab/center/service/TestDataService.java
  common/src/main/java/com/microsoft/hydralab/common/entity/agent/SmartTestParam.java
  common/src/main/java/com/microsoft/hydralab/common/entity/common/TestRun.java
  common/src/main/java/com/microsoft/hydralab/common/util/Const.java
  react/package-lock.json
  react/package.json
  react/src/component/TasksView.jsx
  react/src/component/TestReportView.jsx
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix, @dexterdreeeam, @lifesaver0129

Fix typo
  taps_to_cases/runner/src/main/java/com/microsoft/hydralab/t2c/runner/T2CJsonGenerator.java
Owners: @dinghong2233, @taoran6

Add T2C generator for Smart Test (#471)
  center/src/main/java/com/microsoft/hydralab/center/controller/TestDetailController.java
  taps_to_cases/runner/src/main/java/com/microsoft/hydralab/t2c/runner/T2CJsonGenerator.java
  taps_to_cases/runner/src/test/java/com/microsoft/hydralab/t2c/runner/T2CJsonGeneratorTest.java
  taps_to_cases/runner/src/test/resources/directed_acyclic_graph.gexf
Owners: @dinghong2233, @taoran6

Bugfix: Combine 2 steps to 1 to reduce mkdir operation
  azure-pipelines-ci.yml
Owners: none

Bugfix: Combine 2 steps to 1 to reduce mkdir operation (#472)
  azure-pipelines-ci.yml
Owners: none

Set the max length of suite name to optimize front-end page
  react/src/component/TasksView.jsx
Owners: @dexterdreeeam, @lifesaver0129

Bugfix: Set the max length of suite name to optimize front-end page (#473)
  react/src/component/TasksView.jsx
Owners: @dexterdreeeam, @lifesaver0129

Bugfix: update front-end to make the canvas can move with parent page when scrolling mouse
  react/src/component/SearchView.jsx
  react/src/component/TasksView.jsx
  react/src/component/TestReportView.jsx
Owners: @dexterdreeeam, @lifesaver0129

Bugfix: update front-end to make the canvas can move with parent page when scrolling mouse (#474)
  react/src/component/SearchView.jsx
  react/src/component/TasksView.jsx
  react/src/component/TestReportView.jsx
Owners: @dexterdreeeam, @lifesaver0129

Bugfix: handle the scene of file not exist
  center/src/main/java/com/microsoft/hydralab/center/controller/TestDetailController.java
  react/src/component/TestReportView.jsx
Owners: @dexterdreeeam, @lifesaver0129

Bugfix: handle the scene of file not exist (#475)
  center/src/main/java/com/microsoft/hydralab/center/controller/TestDetailController.java
  react/src/component/TestReportView.jsx
Owners: @dexterdreeeam, @lifesaver0129

Bugfix: check the file is exist or not before cp
  azure-pipelines-ci.yml
Owners: none

Update azure-pipelines-ci.yml
  azure-pipelines-ci.yml
Owners: none

Update azure-pipelines-ci.yml
  azure-pipelines-ci.yml
Owners: none

Bugfix: check the file is exist or not before cp (#476)
  azure-pipelines-ci.yml
Owners: none

Beautify GPT suggestion style; Add GPT logo
  react/images/chat_gpt_logo.svg
  react/src/component/TestReportView.jsx
Owners: @dexterdreeeam, @lifesaver0129

Update TestReportView.jsx
  react/src/component/TestReportView.jsx
Owners: @dexterdreeeam, @lifesaver0129

Beautify GPT suggestion style and add GPT logo file (#477)
  react/images/chat_gpt_logo.svg
  react/src/component/TestReportView.jsx
Owners: @dexterdreeeam, @lifesaver0129

Add device and agent stat pie charts
  react/src/component/DeviceAgentsView.jsx
Owners: @dexterdreeeam, @lifesaver0129

update
  react/src/component/DeviceAgentsView.jsx
Owners: @dexterdreeeam, @lifesaver0129

Add device and agent stat pie charts (#478)
  react/src/component/DeviceAgentsView.jsx
Owners: @dexterdreeeam, @lifesaver0129

Bugfix: update the regex to increase robustness
  agent/src/main/java/com/microsoft/hydralab/agent/runner/espresso/EspressoRunner.java
  agent/src/test/java/com/microsoft/hydralab/agent/runner/espresso/EspressoRunnerTest.java
  common/src/main/java/com/microsoft/hydralab/common/util/Const.java
Owners: @zhou9584, @hydraxman

doc: update readme for building agent
  .gitignore
  README.md
Owners: @zhou9584, @hydraxman, @dexterdreeeam, @dinghong2233

doc: update zh-cn readme doc
  README.zh-CN.md
Owners: @zhou9584, @hydraxman, @dexterdreeeam, @dinghong2233

doc: update readme
  README.md
  README.zh-CN.md
Owners: @zhou9584, @hydraxman, @dexterdreeeam, @dinghong2233

Update readme for building agent with the android apk (#480)
  .gitignore
  README.md
  README.zh-CN.md
Owners: @zhou9584, @hydraxman, @dexterdreeeam, @dinghong2233

Use empty default value
  sdk/src/test/java/com/microsoft/hydralab/azure/tts/TestTTS.java
Owners: none

Fix perf wrong deviceId bug & add logs
  common/src/main/java/com/microsoft/hydralab/performance/PerformanceTestManagementService.java
Owners: @taoran6, @AC-Phoenix

Fix perf wrong deviceId bug & add logs (#481)
  common/src/main/java/com/microsoft/hydralab/performance/PerformanceTestManagementService.java
Owners: @taoran6, @AC-Phoenix

Add device info to the Perf dashboard
  react/src/component/PerfTestDashboard.jsx
  react/src/component/TestReportView.jsx
Owners: @dexterdreeeam, @lifesaver0129

Null check
  react/src/component/PerfTestDashboard.jsx
Owners: @dexterdreeeam, @lifesaver0129

[Front-end] [Perf] Add device info to the Perf dashboard (#482)
  react/src/component/PerfTestDashboard.jsx
  react/src/component/TestReportView.jsx
Owners: @dexterdreeeam, @lifesaver0129

Update azure-pipelines-ci.yml for Azure Pipelines
  azure-pipelines-ci.yml
Owners: none

.github/CODEOWNERS:

# Back-end architectFront-end architect
**/doc/UML @hydraxman @zhou9584
*.puml  @hydraxman @zhou9584

# Front-end architect
/react/ @dexterdreeeam @lifesaver0129

# Encache
ehcache.xml @zhou9584 @olivershen-wow

# Onboarding
*.md @zhou9584 @hydraxman @dexterdreeeam @dinghong2233

# Hydra Lab Android client
/android_client/ @lifesaver0129 @TedaLIEz

# TestTaskSpec
TestTaskSpec.java @olivershen-wow @zhou9584

# Gradle Plugin
/gradle_plugin/ @olivershen-wow @taoran6

# ADO extension
/vsts_extension/ @olivershen-wow @dexterdreeeam

# Grafana/Prometheus
/center/deploy_startup/ @olivershen-wow @zhou9584
/center/* @olivershen-wow @zhou9584

# File Storage
/common/src/main/java/com/microsoft/hydralab/common/file/ @olivershen-wow @AC-Phoenix

# AgentManager,DeviceDriver,TestRunner,TestDevice
/common/src/main/java/com/microsoft/hydralab/common/management/ @zhou9584 @TedaLIEz @AC-Phoenix
**/runner/ @zhou9584 @TedaLIEz @AC-Phoenix

# Smart Test

# Espresso
**/runner/espresso/ @zhou9584 @hydraxman

# Appium
**/runner/appium/ @dinghong2233 @taoran6

# Taps to cases
**/runner/t2c/  @dinghong2233 @taoran6
/taps_to_cases/ @dinghong2233 @taoran6

# XCTest(iOS)
**/runner/xctest/ @lifesaver0129 @zhou9584 @TedaLIEz

# Performance testing
**/hydralab/performance/ @taoran6 @AC-Phoenix
