Repository microsoft/HydraLab, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydraxman, @zhou9584, @dexterdreeeam, @lifesaver0129, @olivershen-wow, @dinghong2233, @TedaLIEz, @taoran6, @AC-Phoenix

.github/CODEOWNERS:

# Back-end architectFront-end architect
**/doc/UML @hydraxman @zhou9584
*.puml  @hydraxman @zhou9584

# Front-end architect
/react/ @dexterdreeeam @lifesaver0129

# Encache
ehcache.xml @zhou9584 @olivershen-wow

# Onboarding
*.md @zhou9584 @hydraxman @dexterdreeeam @dinghong2233

# Hydra Lab Android client
/android_client/ @lifesaver0129 @TedaLIEz

# TestTaskSpec
TestTaskSpec.java @olivershen-wow @zhou9584

# Gradle Plugin
/gradle_plugin/ @olivershen-wow @taoran6

# ADO extension
/vsts_extension/ @olivershen-wow @dexterdreeeam

# Grafana/Prometheus
/center/deploy_startup/ @olivershen-wow @zhou9584
/center/* @olivershen-wow @zhou9584

# File Storage
/common/src/main/java/com/microsoft/hydralab/common/file/ @olivershen-wow @AC-Phoenix

# AgentManager,DeviceDriver,TestRunner,TestDevice
/common/src/main/java/com/microsoft/hydralab/common/management/ @zhou9584 @TedaLIEz @AC-Phoenix
**/runner/ @zhou9584 @TedaLIEz @AC-Phoenix

# Smart Test

# Espresso
**/runner/espresso/ @zhou9584 @hydraxman

# Appium
**/runner/appium/ @dinghong2233 @taoran6

# Taps to cases
**/runner/t2c/  @dinghong2233 @taoran6
/taps_to_cases/ @dinghong2233 @taoran6

# XCTest(iOS)
**/runner/xctest/ @lifesaver0129 @zhou9584 @TedaLIEz

# Performance testing
**/hydralab/performance/ @taoran6 @AC-Phoenix

Bugfix: unlockDevice method would make the phone back to desktop (#519)
  common/src/main/java/com/microsoft/hydralab/common/management/AppiumServerManager.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/IOSDeviceDriver.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix

fix: CP fix for PR #517 (#518)
  common/src/main/java/com/microsoft/hydralab/performance/PerformanceTestManagementService.java
Owners: @taoran6, @AC-Phoenix

Provide a client for Azure OpenAI GPT model service (#467)
  center/src/main/java/com/microsoft/hydralab/center/openai/AzureOpenAIServiceClient.java
  center/src/main/java/com/microsoft/hydralab/center/openai/ChatMessage.java
  center/src/main/java/com/microsoft/hydralab/center/openai/ChatRequest.java
  center/src/test/java/com/microsoft/hydralab/center/openai/AzureOpenAIServiceClientTest.java
  center/src/test/java/com/microsoft/hydralab/center/test/BaseTest.java
Owners: none

u
  agent/src/main/java/com/microsoft/hydralab/agent/runner/TestRunDeviceOrchestrator.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/espresso/EspressoTestInfoProcessorListener.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/DeviceDriver.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/AbstractDeviceDriver.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/AndroidDeviceDriver.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/DeviceDriverManager.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/IOSDeviceDriver.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/WindowsDeviceDriver.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix, @hydraxman

u
  agent/src/main/java/com/microsoft/hydralab/agent/runner/TestRunner.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix

u
  agent/src/main/java/com/microsoft/hydralab/agent/config/TestRunnerConfig.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/TestRunner.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/appium/AppiumCrossRunner.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/espresso/EspressoRunner.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix, @dinghong2233, @taoran6, @hydraxman

u
  agent/src/main/java/com/microsoft/hydralab/agent/runner/t2c/T2CRunner.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/xctest/XCTestRunner.java
Owners: @dinghong2233, @taoran6, @lifesaver0129, @zhou9584, @TedaLIEz

[Technical design] Design for performance notification (alert) system (#509)
  agent/doc/UML/performance_test_design.puml
  common/src/main/java/com/microsoft/hydralab/common/entity/common/TestTask.java
  common/src/main/java/com/microsoft/hydralab/performance/PerformanceTestManagementService.java
  common/src/main/java/com/microsoft/hydralab/performance/TestNotifier.java
  docs/images/UML/test_notify_component.png
  docs/images/UML/test_notify_uml.png
Owners: @hydraxman, @zhou9584, @taoran6, @AC-Phoenix

Add enableNetworkTest and networkTestRule params
  gradle_plugin/doc/UML/gradle_plugin_yaml_config_design.puml
  gradle_plugin/src/main/groovy/com/microsoft/hydralab/ClientUtilsPlugin.groovy
  gradle_plugin/src/main/groovy/com/microsoft/hydralab/config/TestConfig.java
  gradle_plugin/src/main/groovy/com/microsoft/hydralab/utils/HydraLabAPIClient.java
  gradle_plugin/template/gradle.properties
  gradle_plugin/template/testSpec.yml
Owners: @olivershen-wow, @taoran6

Update
  gradle_plugin/build.gradle
Owners: @olivershen-wow, @taoran6

u
  agent/doc/UML/agent_network_test_design.puml
  agent/doc/UML/test_runner_design.puml
Owners: @hydraxman, @zhou9584

u
  docs/images/UML/agent_network_test_design.png
Owners: none

u
  docs/images/UML/test_task_spec_design.png
Owners: none

Remove javadoc mark to publish with no error
  gradle_plugin/src/main/groovy/com/microsoft/hydralab/config/DeviceConfig.java
  gradle_plugin/src/main/groovy/com/microsoft/hydralab/config/HydraLabAPIConfig.java
  gradle_plugin/src/main/groovy/com/microsoft/hydralab/config/TestConfig.java
  gradle_plugin/src/main/groovy/com/microsoft/hydralab/utils/YamlParser.java
Owners: @olivershen-wow, @taoran6

Update
  gradle_plugin/build.gradle
  gradle_plugin/src/main/groovy/com/microsoft/hydralab/config/DeviceConfig.java
  gradle_plugin/src/main/groovy/com/microsoft/hydralab/config/TestConfig.java
  gradle_plugin/src/main/groovy/com/microsoft/hydralab/utils/YamlParser.java
Owners: @olivershen-wow, @taoran6

Add param notifyUrl and additional PerformanceInspectorType
  gradle_plugin/doc/UML/gradle_plugin_yaml_config_design.puml
  gradle_plugin/src/main/groovy/com/microsoft/hydralab/ClientUtilsPlugin.groovy
  gradle_plugin/src/main/groovy/com/microsoft/hydralab/config/TestConfig.java
  gradle_plugin/src/main/groovy/com/microsoft/hydralab/entity/performance/PerformanceInspector.java
  gradle_plugin/src/main/groovy/com/microsoft/hydralab/utils/HydraLabAPIClient.java
  gradle_plugin/template/gradle.properties
  gradle_plugin/template/testSpec.yml
Owners: @olivershen-wow, @taoran6

Update gradle_plugin/template/gradle.properties
  gradle_plugin/template/gradle.properties
Owners: @olivershen-wow, @taoran6

Upload doc image
  docs/images/UML/gradle_plugin_yaml_config_design.png
Owners: none

Add enableNetworkTest and networkTestRule params (#520)
  docs/images/UML/gradle_plugin_yaml_config_design.png
  gradle_plugin/build.gradle
  gradle_plugin/doc/UML/gradle_plugin_yaml_config_design.puml
  gradle_plugin/src/main/groovy/com/microsoft/hydralab/ClientUtilsPlugin.groovy
  gradle_plugin/src/main/groovy/com/microsoft/hydralab/config/HydraLabAPIConfig.java
  gradle_plugin/src/main/groovy/com/microsoft/hydralab/config/TestConfig.java
  gradle_plugin/src/main/groovy/com/microsoft/hydralab/entity/performance/PerformanceInspector.java
  gradle_plugin/src/main/groovy/com/microsoft/hydralab/utils/HydraLabAPIClient.java
  gradle_plugin/template/gradle.properties
  gradle_plugin/template/testSpec.yml
Owners: @olivershen-wow, @taoran6

Update TasksView.jsx
  react/src/component/TasksView.jsx
Owners: @dexterdreeeam, @lifesaver0129

Fix regression caused by multi-render
  react/src/component/TasksView.jsx
Owners: @dexterdreeeam, @lifesaver0129

Add model and build number for PerformanceTestResultEntity (#516)
  common/src/main/java/com/microsoft/hydralab/common/entity/agent/MobileDevice.java
  common/src/main/java/com/microsoft/hydralab/common/entity/common/PerformanceTestResultEntity.java
  common/src/main/java/com/microsoft/hydralab/common/entity/common/TestRunDeviceCombo.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/AndroidDeviceDriver.java
  common/src/main/java/com/microsoft/hydralab/performance/PerformanceTestManagementService.java
  common/src/test/java/com/microsoft/hydralab/common/performance/PerformanceTestResultEntityTest.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix, @taoran6

u
  agent/doc/UML/agent_network_test_design.puml
  agent/doc/UML/test_runner_design.puml
  agent/src/main/java/com/microsoft/hydralab/agent/runner/TestRunDeviceOrchestrator.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/espresso/EspressoTestInfoProcessorListener.java
  agent/src/main/java/com/microsoft/hydralab/agent/service/AgentWebSocketClientService.java
  common/src/main/java/com/microsoft/hydralab/common/entity/common/TestRunDevice.java
  common/src/main/java/com/microsoft/hydralab/common/entity/common/TestTask.java
  common/src/main/java/com/microsoft/hydralab/common/entity/common/TestTaskSpec.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/DeviceDriver.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/AbstractDeviceDriver.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/AndroidDeviceDriver.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/DeviceDriverManager.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/IOSDeviceDriver.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/WindowsDeviceDriver.java
  common/src/main/java/com/microsoft/hydralab/common/network/AndroidNetworkMonitor.java
  common/src/main/java/com/microsoft/hydralab/common/network/DummyNetworkMonitor.java
  common/src/main/java/com/microsoft/hydralab/common/network/NetworkMonitor.java
  common/src/main/java/com/microsoft/hydralab/common/util/NetworkMonitorUtil.java
Owners: @hydraxman, @zhou9584, @TedaLIEz, @AC-Phoenix, @olivershen-wow

u
  agent/src/main/java/com/microsoft/hydralab/agent/service/AgentWebSocketClientService.java
  common/src/main/java/com/microsoft/hydralab/common/network/AndroidNetworkMonitor.java
  common/src/main/java/com/microsoft/hydralab/common/util/Const.java
  common/src/main/java/com/microsoft/hydralab/common/util/NetworkMonitorUtil.java
Owners: none

u
  common/src/main/java/com/microsoft/hydralab/common/entity/common/TestTask.java
Owners: none

u
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/IOSDeviceDriver.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/WindowsDeviceDriver.java
  common/src/main/java/com/microsoft/hydralab/common/network/AndroidNetworkMonitor.java
  common/src/main/java/com/microsoft/hydralab/common/network/DummyNetworkMonitor.java
  common/src/main/java/com/microsoft/hydralab/common/util/ADBOperateUtil.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix

u
  agent/doc/UML/agent_network_monitor_design.puml
  agent/doc/UML/agent_network_test_design.puml
  docs/images/UML/agent_network_monitor_design.png
  docs/images/UML/test_task_spec_design.png
Owners: @hydraxman, @zhou9584

u
  docs/images/UML/agent_network_test_design.png
Owners: none

ADBScreenRecorder finishRecording waits less time (120s -> 30s); ADBScreenRecorder modifies process stream receiving logic to avoid blocking; Added some logs;
  common/src/main/java/com/microsoft/hydralab/common/screen/ADBScreenRecorder.java
  common/src/main/java/com/microsoft/hydralab/common/screen/FFmpegConcatUtil.java
Owners: none

ADBScreenRecorder finishRecording waits less time (120s -> 30s); (#523)
  common/src/main/java/com/microsoft/hydralab/common/screen/ADBScreenRecorder.java
  common/src/main/java/com/microsoft/hydralab/common/screen/FFmpegConcatUtil.java
Owners: none

ADBScreenRecorder finishRecording waits less time (120s -> 30s); (#523)
  common/src/main/java/com/microsoft/hydralab/common/screen/ADBScreenRecorder.java
  common/src/main/java/com/microsoft/hydralab/common/screen/FFmpegConcatUtil.java
Owners: none

Stash changes for Perf alert
  agent/src/main/java/com/microsoft/hydralab/agent/config/AppConfiguration.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/TestRunner.java
  common/src/main/java/com/microsoft/hydralab/common/management/AgentManagementService.java
  common/src/main/java/com/microsoft/hydralab/notification/TestNotifier.java
  common/src/main/java/com/microsoft/hydralab/performance/PerformanceTestManagementService.java
  common/src/main/java/com/microsoft/hydralab/performance/TestNotifier.java
  common/src/test/java/com/microsoft/hydralab/common/notification/TestNotifierTest.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix, @taoran6

u
  android_client/app/build.gradle
  android_client/app/src/main/AndroidManifest.xml
  android_client/app/src/main/java/com/microsoft/hydralab/android/client/MainActivity.java
  android_client/app/src/main/java/com/microsoft/hydralab/android/client/VpnActivity.java
  android_client/app/src/main/java/com/microsoft/hydralab/android/client/vpn/HydraLabVpnService.kt
  android_client/app/src/main/res/layout/activity_vpn.xml
  common/src/main/java/com/microsoft/hydralab/common/network/AndroidNetworkMonitor.java
Owners: @lifesaver0129, @TedaLIEz

u
  android_client/app/src/main/java/com/microsoft/hydralab/android/client/MainActivity.java
Owners: @lifesaver0129, @TedaLIEz

u
  android_client/app/src/main/AndroidManifest.xml
Owners: @lifesaver0129, @TedaLIEz

u
  agent/doc/UML/agent_device_management_design.puml
  agent/doc/UML/agent_network_monitor_design.puml
  docs/images/UML/agent_device_management_design.png
  docs/images/UML/agent_network_monitor_design.png
Owners: @hydraxman, @zhou9584

Add Network test service and Vpn android app (#501)
  agent/doc/UML/agent_device_management_design.puml
  agent/doc/UML/agent_network_monitor_design.puml
  agent/doc/UML/test_runner_design.puml
  agent/src/main/java/com/microsoft/hydralab/agent/runner/TestRunDeviceOrchestrator.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/espresso/EspressoRunner.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/espresso/EspressoTestInfoProcessorListener.java
  android_client/app/build.gradle
  android_client/app/src/main/AndroidManifest.xml
  android_client/app/src/main/java/com/microsoft/hydralab/android/client/MainActivity.java
  android_client/app/src/main/java/com/microsoft/hydralab/android/client/VpnActivity.java
  android_client/app/src/main/java/com/microsoft/hydralab/android/client/vpn/HydraLabVpnLogger.kt
  android_client/app/src/main/java/com/microsoft/hydralab/android/client/vpn/HydraLabVpnQueue.kt
  android_client/app/src/main/java/com/microsoft/hydralab/android/client/vpn/HydraLabVpnService.kt
  android_client/app/src/main/java/com/microsoft/hydralab/android/client/vpn/protocol/IpUtil.java
  android_client/app/src/main/java/com/microsoft/hydralab/android/client/vpn/protocol/Packet.java
  android_client/app/src/main/java/com/microsoft/hydralab/android/client/vpn/protocol/TCBStatus.kt
  android_client/app/src/main/res/layout/activity_vpn.xml
  android_client/build.gradle
  common/src/main/java/com/microsoft/hydralab/common/entity/common/TestRunDevice.java
  common/src/main/java/com/microsoft/hydralab/common/entity/common/TestTask.java
  common/src/main/java/com/microsoft/hydralab/common/entity/common/TestTaskSpec.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/DeviceDriver.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/AbstractDeviceDriver.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/AndroidDeviceDriver.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/DeviceDriverManager.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/IOSDeviceDriver.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/WindowsDeviceDriver.java
  common/src/main/java/com/microsoft/hydralab/common/network/AndroidNetworkMonitor.java
  common/src/main/java/com/microsoft/hydralab/common/network/DummyNetworkMonitor.java
  common/src/main/java/com/microsoft/hydralab/common/network/NetworkMonitor.java
  common/src/main/java/com/microsoft/hydralab/common/util/ADBOperateUtil.java
  common/src/main/java/com/microsoft/hydralab/common/util/Const.java
  docs/images/UML/agent_device_management_design.png
  docs/images/UML/agent_network_monitor_design.png
  docs/images/UML/test_task_spec_design.png
Owners: @hydraxman, @zhou9584, @TedaLIEz, @AC-Phoenix, @lifesaver0129, @olivershen-wow

Disable screen recording with param in test task
  agent/src/main/java/com/microsoft/hydralab/agent/runner/appium/AppiumListener.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/appium/AppiumRunner.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/appium/Junit5Listener.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/espresso/EspressoTestInfoProcessorListener.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/monkey/AdbMonkeyRunner.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/monkey/AppiumMonkeyRunner.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/smart/SmartRunner.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/t2c/T2CRunner.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/xctest/XCTestRunner.java
  common/src/main/java/com/microsoft/hydralab/common/entity/common/TestTask.java
Owners: @dinghong2233, @taoran6, @zhou9584, @hydraxman, @TedaLIEz, @AC-Phoenix, @lifesaver0129

Add flag to the TestTaskSpec
  common/src/main/java/com/microsoft/hydralab/common/entity/common/TestTask.java
  common/src/main/java/com/microsoft/hydralab/common/entity/common/TestTaskSpec.java
Owners: @olivershen-wow, @zhou9584

Fix data schema error
  common/src/main/java/com/microsoft/hydralab/common/entity/common/TestTask.java
Owners: none
