Repository microsoft/HydraLab, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydraxman, @zhou9584, @dexterdreeeam, @lifesaver0129, @olivershen-wow, @TedaLIEz, @taoran6, @AC-Phoenix

.github/CODEOWNERS:

# Back-end architectFront-end architect
**/doc/UML @hydraxman @zhou9584
*.puml  @hydraxman @zhou9584

# Front-end architect
/react/ @dexterdreeeam  @lifesaver0129 @olivershen-wow

# Encache
ehcache.xml @zhou9584 @olivershen-wow

# Onboarding
*.md @zhou9584 @hydraxman @dexterdreeeam 

# Hydra Lab Android client
/android_client/app/ @lifesaver0129 @TedaLIEz @dexterdreeeam  @taoran6

# TestTaskSpec
/common/src/main/java/com/microsoft/hydralab/common/entity/ @olivershen-wow @zhou9584 @dexterdreeeam 

# Gradle Plugin
/gradle_plugin/ @olivershen-wow @taoran6 @dexterdreeeam 

# ADO extension
/vsts_extension/ @olivershen-wow @dexterdreeeam  @taoran6

# Grafana/Prometheus
/center/deploy_startup/ @olivershen-wow @zhou9584
/center/* @olivershen-wow @zhou9584

# File Storage
/common/src/main/java/com/microsoft/hydralab/common/file/ @olivershen-wow @AC-Phoenix

# AgentManager,DeviceDriver,TestRunner,TestDevice
/common/src/main/java/com/microsoft/hydralab/common/management/ @zhou9584 @TedaLIEz @AC-Phoenix
**/runner/ @zhou9584 @TedaLIEz @AC-Phoenix

# Smart Test

# Espresso
**/runner/espresso/ @zhou9584 @hydraxman @olivershen-wow

# Appium
**/runner/appium/ @zhou9584 @taoran6 @olivershen-wow

# Taps to cases
**/runner/t2c/  @TedaLIEz @taoran6 @dexterdreeeam 
/taps_to_cases/ @TedaLIEz @taoran6 @dexterdreeeam 

# XCTest(iOS)
**/runner/xctest/ @lifesaver0129 @zhou9584 @TedaLIEz

# Performance testing
**/hydralab/performance/ @taoran6 @AC-Phoenix @TedaLIEz

update flavor string
  react/src/component/AnalysisReportView.jsx
Owners: @dexterdreeeam, @lifesaver0129, @olivershen-wow

update color
  react/src/component/AnalysisReportView.jsx
Owners: @dexterdreeeam, @lifesaver0129, @olivershen-wow

Update label name
  react/src/component/TasksView.jsx
Owners: @dexterdreeeam, @lifesaver0129, @olivershen-wow

update task label
  react/src/component/SearchView.jsx
Owners: @dexterdreeeam, @lifesaver0129, @olivershen-wow

Add clarity initialization in the MainActivity.java
  android_client/app/src/main/java/com/microsoft/hydralab/android/client/MainActivity.java
Owners: @lifesaver0129, @TedaLIEz, @dexterdreeeam, @taoran6

Update README.md
  README.md
Owners: @zhou9584, @hydraxman, @dexterdreeeam

Update
  README.md
  agent/src/main/resources/application-docker.yml
Owners: @zhou9584, @hydraxman, @dexterdreeeam

update variable name
  center/src/main/java/com/microsoft/hydralab/center/service/TestDataService.java
  center/src/main/java/com/microsoft/hydralab/center/service/TestTaskService.java
Owners: none

Bugfix: agent docker connection issue, update wiki for Uber image (#638)
  README.md
  agent/src/main/resources/application-docker.yml
Owners: @zhou9584, @hydraxman, @dexterdreeeam

Feature: enable react-native-clarity of front end
  react/package-lock.json
  react/package.json
  react/src/component/BaseView.jsx
  react/webpack.config.js
Owners: @dexterdreeeam, @lifesaver0129, @olivershen-wow

resolve comments
  agent/src/test/java/com/microsoft/hydralab/agent/service/TestTaskEngineServiceTest.java
  common/src/main/java/com/microsoft/hydralab/common/entity/center/AgentDeviceGroup.java
Owners: @olivershen-wow, @zhou9584, @dexterdreeeam

Update build.gradle
  android_client/app/build.gradle
Owners: @lifesaver0129, @TedaLIEz, @dexterdreeeam, @taoran6

Update TestTaskEngineServiceTest.java
  agent/src/test/java/com/microsoft/hydralab/agent/service/TestTaskEngineServiceTest.java
Owners: none

update
  react/src/component/AnalysisReportView.jsx
Owners: @dexterdreeeam, @lifesaver0129, @olivershen-wow

update configuration
  agent/build.gradle
  android_client/app/src/main/java/com/microsoft/hydralab/android/client/MainActivity.java
Owners: @lifesaver0129, @TedaLIEz, @dexterdreeeam, @taoran6

Update README.md
  README.md
Owners: @zhou9584, @hydraxman, @dexterdreeeam

Update README.md (#637)
  README.md
Owners: @zhou9584, @hydraxman, @dexterdreeeam

Update agent/build.gradle
  agent/build.gradle
Owners: none

Update agent/build.gradle
  agent/build.gradle
Owners: none

Reinstall test orchestrator with additional param
  agent/src/main/java/com/microsoft/hydralab/agent/runner/TestRunDeviceOrchestrator.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/espresso/EspressoRunner.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/DeviceDriver.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/AbstractDeviceDriver.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/AndroidDeviceDriver.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/DeviceDriverManager.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix, @hydraxman, @olivershen-wow

Reinstall test orchestrator with additional param (#641)
  agent/src/main/java/com/microsoft/hydralab/agent/runner/TestRunDeviceOrchestrator.java
  agent/src/main/java/com/microsoft/hydralab/agent/runner/espresso/EspressoRunner.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/DeviceDriver.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/AbstractDeviceDriver.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/AndroidDeviceDriver.java
  common/src/main/java/com/microsoft/hydralab/common/management/device/impl/DeviceDriverManager.java
Owners: @zhou9584, @TedaLIEz, @AC-Phoenix, @hydraxman, @olivershen-wow

Bugfix: update the column type to adapt to SqlServer
  common/src/main/java/com/microsoft/hydralab/common/entity/center/AgentDeviceGroup.java
  common/src/main/java/com/microsoft/hydralab/common/entity/common/AnalysisTask.java
  common/src/main/java/com/microsoft/hydralab/common/entity/common/TaskResult.java
  common/src/main/java/com/microsoft/hydralab/common/entity/common/scanner/ApkManifest.java
  common/src/main/java/com/microsoft/hydralab/common/entity/common/scanner/ApkReport.java
  common/src/main/java/com/microsoft/hydralab/common/entity/common/scanner/ApkSizeReport.java
  common/src/main/java/com/microsoft/hydralab/common/entity/common/scanner/BuildInfo.java
  common/src/main/java/com/microsoft/hydralab/common/entity/common/scanner/LeakInfo.java
Owners: @olivershen-wow, @zhou9584, @dexterdreeeam

Bugfix: update the column type to adapt to SqlServer (#642)
  common/src/main/java/com/microsoft/hydralab/common/entity/center/AgentDeviceGroup.java
  common/src/main/java/com/microsoft/hydralab/common/entity/common/AnalysisTask.java
  common/src/main/java/com/microsoft/hydralab/common/entity/common/TaskResult.java
  common/src/main/java/com/microsoft/hydralab/common/entity/common/scanner/ApkManifest.java
  common/src/main/java/com/microsoft/hydralab/common/entity/common/scanner/ApkReport.java
  common/src/main/java/com/microsoft/hydralab/common/entity/common/scanner/ApkSizeReport.java
  common/src/main/java/com/microsoft/hydralab/common/entity/common/scanner/BuildInfo.java
  common/src/main/java/com/microsoft/hydralab/common/entity/common/scanner/LeakInfo.java
Owners: @olivershen-wow, @zhou9584, @dexterdreeeam

Bugfix: reset available count when canceling Analysis Task
  agent/src/main/java/com/microsoft/hydralab/agent/util/FileLoadUtil.java
  center/src/main/java/com/microsoft/hydralab/center/service/DeviceAgentManagementService.java
Owners: none

Bugfix: reset available count when canceling Analysis Task (#643)
  agent/src/main/java/com/microsoft/hydralab/agent/util/FileLoadUtil.java
  center/src/main/java/com/microsoft/hydralab/center/service/DeviceAgentManagementService.java
Owners: none

Bugfix: Handle deprecated fields to adapt to history versions of Gradle & Azure plugin
  center/src/main/java/com/microsoft/hydralab/center/service/TestDataService.java
  common/src/main/java/com/microsoft/hydralab/common/entity/common/Task.java
Owners: @olivershen-wow, @zhou9584, @dexterdreeeam

Update Task.java
  common/src/main/java/com/microsoft/hydralab/common/entity/common/Task.java
Owners: @olivershen-wow, @zhou9584, @dexterdreeeam

Bugfix: Handle deprecated fields to adapt to history versions of Gradle & Azure plugin (#644)
  center/src/main/java/com/microsoft/hydralab/center/service/TestDataService.java
  common/src/main/java/com/microsoft/hydralab/common/entity/common/Task.java
Owners: @olivershen-wow, @zhou9584, @dexterdreeeam

Bugfix: update front page of task list to display the status of analysis task
  react/src/component/TasksView.jsx
Owners: @dexterdreeeam, @lifesaver0129, @olivershen-wow

Bugfix: update front page of task list to display the status of analysis task (#645)
  react/src/component/TasksView.jsx
Owners: @dexterdreeeam, @lifesaver0129, @olivershen-wow

Bugfix: add null verify to adapt to old version agent
  center/src/main/java/com/microsoft/hydralab/center/service/DeviceAgentManagementService.java
Owners: none

Update TasksView.jsx
  react/src/component/TasksView.jsx
Owners: @dexterdreeeam, @lifesaver0129, @olivershen-wow

Bugfix: add null verify to adapt previous version agent & update front-page (#646)
  center/src/main/java/com/microsoft/hydralab/center/service/DeviceAgentManagementService.java
  react/src/component/TasksView.jsx
Owners: @dexterdreeeam, @lifesaver0129, @olivershen-wow

Upgrade gradle plugin with Analysis Configs and running type APK_SCANNER
  docs/images/UML/gradle_plugin_yaml_config_design.png
  gradle_plugin/build.gradle
  gradle_plugin/doc/UML/gradle_plugin_yaml_config_design.puml
  gradle_plugin/src/main/groovy/com/microsoft/hydralab/ClientUtilsPlugin.groovy
  gradle_plugin/src/main/groovy/com/microsoft/hydralab/config/TestConfig.java
  gradle_plugin/src/main/groovy/com/microsoft/hydralab/entity/AnalysisConfig.java
  gradle_plugin/src/main/groovy/com/microsoft/hydralab/utils/HydraLabAPIClient.java
  gradle_plugin/template/gradle.properties
  gradle_plugin/template/testSpec.yml
Owners: @olivershen-wow, @taoran6, @dexterdreeeam

Bugfix: Handle deprecated fields to adapt to history versions of plugins
  center/src/main/java/com/microsoft/hydralab/center/service/TestDataService.java
  common/src/main/java/com/microsoft/hydralab/common/entity/common/Task.java
Owners: @olivershen-wow, @zhou9584, @dexterdreeeam

Bugfix: Handle deprecated fields to adapt to history versions of plugins (#648)
  center/src/main/java/com/microsoft/hydralab/center/service/TestDataService.java
  common/src/main/java/com/microsoft/hydralab/common/entity/common/Task.java
Owners: @olivershen-wow, @zhou9584, @dexterdreeeam

Upgrade gradle plugin with Analysis Configs and running type APK_SCANNER (#647)
  docs/images/UML/gradle_plugin_yaml_config_design.png
  gradle_plugin/build.gradle
  gradle_plugin/doc/UML/gradle_plugin_yaml_config_design.puml
  gradle_plugin/src/main/groovy/com/microsoft/hydralab/ClientUtilsPlugin.groovy
  gradle_plugin/src/main/groovy/com/microsoft/hydralab/config/TestConfig.java
  gradle_plugin/src/main/groovy/com/microsoft/hydralab/entity/AnalysisConfig.java
  gradle_plugin/src/main/groovy/com/microsoft/hydralab/utils/HydraLabAPIClient.java
  gradle_plugin/template/gradle.properties
  gradle_plugin/template/testSpec.yml
Owners: @olivershen-wow, @taoran6, @dexterdreeeam

Bugfix: Fix the issue caused by serializing
  common/src/main/java/com/microsoft/hydralab/common/entity/common/Task.java
  common/src/test/java/com/microsoft/hydralab/common/util/SerializeUtilTest.java
Owners: @olivershen-wow, @zhou9584, @dexterdreeeam

Bugfix: Fix the issue caused by serializing (#649)
  common/src/main/java/com/microsoft/hydralab/common/entity/common/Task.java
  common/src/test/java/com/microsoft/hydralab/common/util/SerializeUtilTest.java
Owners: @olivershen-wow, @zhou9584, @dexterdreeeam

Add clarity initialization in the MainActivity.java (#636)
  android_client/app/build.gradle
  android_client/app/src/main/java/com/microsoft/hydralab/android/client/MainActivity.java
Owners: @lifesaver0129, @TedaLIEz, @dexterdreeeam, @taoran6
